.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    max-width: 550px;
    width: 100%;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-cookie {
    color: #e09f3e
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #FFD700;
    transition: 0.3s all;
    opacity: 0;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label,
.list-group-item.increase .list-group-item-input {
    color: #e09f3e
}

.list-group-item.increase .btn-star {
    color: #aeaeae
}

@media(max-width: 622px) {
    .list-group-item+.list-group-item, .list-group-item:first-child, .add-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-group-item span {
        width: auto;
    }

    .app-add-form h3 {
        text-align: center;
    }

    .add-form input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}